[Desktop Entry]
Type=Application
Name=OSGauge
Comment=Check hardware compatibility with operating-system requirements
Exec=OSGauge-Linux-x64
Icon=OS-Readiness-Checker
Categories=System;Utility;
Terminal=false
